/*=== ABOUT ME CSS ===*/

/*ELEMENT */
body {
    background-color:  rgb(224, 134, 158);
    font-family: Arial, sans-serif;
}
h1 {
    color: #8a2334;
    
}

h2 {
    color: #8a2334;
    
}

h4 {
    color: #8a2334;
}

ul li {    /*BULLETS*/
    margin-bottom: 8px; 
}

/*CLASS SELECTOR . */
.container-about { /*ABOUT ME CONTAINER*/
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
}

.profile-section { /*PICTURE AND CONTACTS CONTAINER*/
    display: flex;
    align-items: center; 
    gap: 40px;          
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;
}

.profile-img {
    margin: 15px auto;
    width: 300px;
    height: 250px;
    border-radius: 10px;
    border: 2px solid #db9393;
}

.contacts {
    display: flex;
    flex-direction: column;
    
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.btn {      
    color: #000000;   
    margin: 20px;
    padding:15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.btn:hover {
    color: #e2b7cd;
    transform: translateX(-2px);
}


.cards-container { /* MOTHER CLASS OF CARDS*/
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-card { /* CHILD CLASS OF SKILLS */
    background-color: #f5f5f5;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(208, 121, 121);
    text-align: center;
}

.skill-card img {
    width: 60px;
    height: 60px;
    transition: transform 0.3s;
}

.skill-card img:hover {
    transform: scale(1.2);
}

.proj-card {
    background-color: #f5f5f5;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(208, 121, 121);
    text-align: center;
    margin-bottom: 30px;
}

/* ID selector # */
#about-header {
    margin-bottom: 15px;
    background-color: #f3b6c2;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

#about-footer {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    background-color: #f3b6c2;
    padding: 10px;
    border-radius: 8px;
}


